apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{external_ip_address}}:9090
  - name: Loki
    type: loki
    access: proxy
    url: http://{{external_ip_address}}:3100